* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-none {
    display: none !important;
}

body {
    min-width: 320px;
    z-index: 1;
}

body.no-scroll {
    overflow: hidden;
}

.header {
    position: relative;
    background: radial-gradient(320.00px at 0% 50%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url("img/header-bg-1.png") no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.home{
    width:100%;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.home-wrapper {
    height: 60px;
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    align-self: flex-start;
    background: url("img/logo.png") no-repeat white center;
    background-size: 58.79px 53.51px;
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.home-menu,
.home-contacts,
.how-works-line {
    display: none;
}

.menu-icon-open-wrapper {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-open {
    width: 25px;
    height: 15px;
}

.menu {
    position: fixed;
    top: 0;
    right: -200vw;
    z-index: 10;
    background: #030514;
    width: 100%;
    height: 100vh;
    transition: 0.4s;
    font-size: 0.7em;
}

.menu.show {
    right: 0;
}

.menu-list {
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 1fr;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.menu-list a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-list li {
    border: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.menu-list li > * {
    width: 100%;
    padding-right: 30px;
}

.menu-icon-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-icon-close svg {
    width: 17.68px;
    height: 17.68px;
}

.menu-contacts {
    display: grid;
    grid-template-columns: 19fr 21fr;
    padding-right: 0 !important;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #030514;
}

.menu-contacts-phone,
.menu-contacts-email {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.menu-contacts-email {
    background: #fff;
    color: #000 !important;
}

.menu-contacts-link > div {
    height: 60px;
    align-self: stretch;
    display: flex;
    align-items: center;
}

.header-wrapper {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-top: 40px;
}

.header-wrapper h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    display: flex;
    align-items: flex-end;
    padding: 8px 30px 18px 30px;
}

.header-text-wrapper {
    padding: 18px 30px 12px 30px;
}

.header-text-wrapper h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    margin-bottom: 48px;
}

.header-text-wrapper p {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: rgba(255, 255, 255, .8);
}

main section {
    padding: 50px 30px;
}

.section-label {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: rgba(3, 5, 20, .4);
    margin-bottom: 10px;
}

main section h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #030514;
}

.section-item-container {
    margin-top: 40px;
    display: grid;
    grid-gap: 30px;
}

.section-item {
    height: 156px;
    border-left: 6px solid #f7b374;
    box-shadow: 0 0 36px rgba(0, 0, 0, .05);
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #030514;
    padding: 0 16px;
}

#services .section-item img {
    width: 64px;
    height: 64px;
}

#places {
    background: linear-gradient(to right, #fff, #fff) no-repeat 114.5px 0, #fafafa;
    padding-left: 0;
    padding-right: 0;
}

#places .section-label,
#places h3 {
    margin-left: 30px;
    margin-right: 30px;
}

.places-slider-container {
    margin-top: 50px;
    padding-left: 30px;
}

.places-slider .slider-item {
    width: 260px;
    height: 286.52px;
    display: grid;
    grid-template-rows: 238.52fr 48fr;
    margin-right: 14px;
}

.places-slider .slider-item img {
    width: 100%;
    height: 238.52px;
}

.places-slider .slider-item .slider-item-text {
    width: 100%;
    height: 48px;
    background: #030514;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #fff;
    padding-left: 15.65px;
    display: flex;
    align-items: center;
}

.places-slider-controls {
    margin-top: 35.52px;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.places-slider-prev {
    width: 60px;
    height: 60px;
    background: url("img/Arrow-prev.svg") no-repeat center, white;
    background-size: 30%;
}

.places-slider-next {
    width: 60px;
    height: 60px;
    background: url("img/Arrow-next.svg") no-repeat center, #030514;
    background-size: 30%;
}

#how-works .section-item {
    height: 90px;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
}

#how-works .section-item p:first-of-type {
    color: rgba(3, 5, 20, .4);
    font-size: 12px;
    line-height: 150%;
    padding: 2px 0;
}

#how-works .section-item p:last-of-type {
    color: #030514;
    font-size: 16px;
    line-height: 150%;
    padding: 2px 0;
}

.howto-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.howto-img img {
    display: block;
    height: 356%;
    object-position: -132px -14px;
}

#about {
    background: #030514;
    color: #fff;
}

.about-line-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.about-line-wrapper span {
    background: rgba(255, 255, 255, .4);
    height: 1px;
    width: 100%;
}

#about .section-label {
    color: rgba(255, 255, 255, .6);
    margin-right: 20px;
    margin-bottom: 0;
}

#about h3 {
    color: #fff;
}

.about-text {
    margin-top: 30px;
    font-family: "Noto San", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: rgba(255, 255, 255, .6);
}

.contact-us-btn {
    margin-top: 40px;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 36px rgba(0, 0, 0, .05);
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #030514;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-slider-controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.partners-slider-prev {
    width: 60px;
    height: 60px;
    background: url("img/Arrow-prev.svg") no-repeat center, white;
    background-size: 30%;
}

.partners-slider-next {
    width: 60px;
    height: 60px;
    background: url("img/Arrow-next.svg") no-repeat center, #030514;
    background-size: 30%;
}

.partners-slider1 {
    margin-top: 70px;
}

.partners-slider2 {
    margin-top: 40px;
}

.partners-slider1 .slider-item,
.partners-slider2 .slider-item {
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-slider1 .slider-item div,
.partners-slider2 .slider-item div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.partners-slider1 .slider-item img,
.partners-slider2 .slider-item img {
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}

#contacts {
    background: #fafafa;
}

#contacts .contacts-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

#contacts .call-text {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: rgba(3, 5, 20, .8);
}

#contacts .call-form {
    display: grid;
    grid-template-columns: 171.31fr 90.63fr;
    width: 100%;
    height: 48px;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-top: 18px;
}

#contacts .call-form input {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    padding-left: 18px;
    background: #fff;
    box-shadow: 0 0 36px rgba(0, 0, 0, .05);
    color: rgba(3, 5, 20, .4);
}

#contacts .call-form .call-btn {
    background: #030514;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 16px;
    color: #fff;
}

#contacts .reference-wrapper {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    margin-bottom: 50px;
}

#contacts .reference-telegram {
    font-size: 12px;
    color: rgba(3, 5, 20, .8);
}

#contacts .reference-wrapper a {
    font-size: 16px;
    color: #000;
}

.contact-form {
    display: grid;
    align-items: stretch;
    grid-gap: 20px;
    grid-template-rows: 60px 60px 262px 60px;
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(3, 5, 20, .6);
}

.contact-form input {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(3, 5, 20, .6);
    box-shadow: 0 0 36px rgba(0, 0, 0, .05);
    border: none;
    resize: none;
    padding: 0 22px;
    width: 100%;
    height: 100%;
}

.contact-form textarea {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(3, 5, 20, .6);
    box-shadow: 0 0 36px rgba(0, 0, 0, .05);
    border: none;
    resize: none;
    padding: 20px 22px;
    width: 100%;
    height: 100%;
}

.contact-form .contact-btn {
    box-shadow: 0 0 36px rgba(0, 0, 0, .05);
    color: #fff;
    background: #030514;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 126.8px;
    background: #030514;
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    color: #fff;
}

footer .section-content {
    height:100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

footer p {
    padding: 4px 0;
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {

    .header {
        background: radial-gradient(800.00px at 0% 50%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url("img/header-bg-2.png") no-repeat;
        background-size: cover;
    }

    .home-wrapper {
        padding-left: 60px;
    }

    .logo {
        width: 170px;
        height: 170px;
        background-size: 78px 71px;
    }

    .home-contacts {
        height: 100%;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    .home-contacts-phone {
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
    }

    .home-contacts-email {
        width: 168px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f7b374;
        text-decoration: none;
        color: #fff;
    }

    .menu-icon-open-wrapper {
        width: 60px;
    }

    .menu-icon-open {
        width: 25px;
        height: 15px;
    }

    .header-wrapper {
        padding-top: 0;
    }

    .header-wrapper h1 {
        font-size: 60px;
        padding: 26px 60px 10px 60px;
    }

    .header-wrapper h1 br {
        display: none;
    }

    .header-text-wrapper {
        padding: 36px 64px 24px 60px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 202.73fr 443fr;
    }

    .header-text-wrapper h5 {
        font-size: 20px;
    }

    .header-text-wrapper p {
        font-size: 16px;
    }

    .menu {
        width: 480px;
    }

    .menu-list {
        font-size: 20px;
        line-height: 27px;
        grid-template-columns: 1fr 60.71px;
        grid-template-rows: 60px 86.44px 86.44px 86.44px 86.44px 86.44px 1fr;
    }

    .menu-list li {
        grid-column: 1 / span 3;
    }

    .menu-list li:first-of-type {
        grid-column: 2;
        grid-row: 1;
    }

    .menu-list li:nth-of-type(2) {
        grid-column: 1;
        grid-row: 1;
    }

    .menu-icon-close {
        padding: 0 !important;
        justify-content: center;
    }

    .menu-contacts {
        grid-template-columns: 251.29fr 168fr;
    }

    .menu-contacts-phone {
        justify-content: flex-end !important;
        padding-right: 20px;
    }

    .menu-contacts-link > div {
        height: 86.44px;
    }

    .menu-list li > * {
        padding-right: 60.71px;
    }

    main section {
        padding: 130px 60px 150px 60px;
    }

    main section h3 {
        font-size: 36px;
    }

    .section-item-container {
        margin-top: 60px;
        grid-template-columns: 1fr 1fr;
    }

    .section-item {
        height: 96.27px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 24px 0 16px;
    }

    #services .section-item img {
        margin-right: 16px;
    }

    #places {
        background: linear-gradient(to right, #fff, #fff) no-repeat 267px 0, #fafafa;
    }

    #places .section-label,
    #places h3 {
        margin-left: 180px;
        margin-right: 60px;
    }

    .places-slider-container {
        position: relative;
        margin-top: 60px;
        padding-left: 180px;
    }

    .places-slider .slider-item {
        width: 266.47px;
        height: 286.52px;
        margin-right: 30px;
    }

    .places-slider .slider-item img {
        object-fit: cover;
    }

    .places-slider .slider-item .slider-item-text {
        width: 100%;
        height: 48px;
        padding-left: 25.6px;
    }

    .places-slider-controls {
        margin: 0;
        position: absolute;
        top: 120px;
        left: 90px;
    }

    .places-slider-prev {
        background: url("img/Arrow-prev.svg") no-repeat center, #fafafa;
    }

    #how-works .section-item-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #how-works .section-item {
        width: 300px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0 0 20px;
    }

    .how-works-line {
        display: block;
        position: absolute;
        left: 0;
        height: 1px;
        background: #e6e6e6;
        width: 100vw;
        z-index: -1;
    }

    .howto-img {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .howto-img img {
        display: block;
        height: 630%;
        object-position: -124px -132px;
    }

    .contact-us-btn {
        margin-top: 50px;
        width: 300px;
        background: #fff;
    }


    .partners-slider1 .slider-item,
    .partners-slider2 .slider-item {
        margin-right: 40px;
    }

    .partners-slider1 .slider-item div,
    .partners-slider2 .slider-item div {
        justify-content: center;
    }

    .partners-slider1 .slider-item img,
    .partners-slider2 .slider-item img {
        min-width: 70px;
    }

    #contacts {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #contacts .contacts-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #contacts .call-form {
        width: 380px;
    }

    #contacts .reference-wrapper {
        margin-bottom: 100px;
    }

    footer {
        height: 90px;
    }

    footer .section-content {
        height:100%;
        padding: 0 60px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer p {
        padding: 4px 0;
    }
}

@media only screen and (min-width: 1200px) {

    .header {
        background: radial-gradient(1440.00px at 0% 50%, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%), url("img/header-bg-3.png") no-repeat;
        background-size: cover;
    }

    .home-wrapper {
        padding: 0;
        margin:0 auto;
        width: 1170px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        width: 170px;
        height: 170px;
        margin: 0;
        background-size: 78px 71px;
    }

    .menu-icon-open-wrapper {
        display: none;
    }

    .menu {
        display: none;
    }

    .home-menu {
        margin-left: 20px;
        height: 100%;
        width: 550px;
        margin-right: auto;
        display: flex;
    }

    .home-menu a {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-family: "Noto Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
    }

    .home-contacts {
        height: 100%;
        display: flex;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    .home-contacts-phone {
        width: 142px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
    }

    .home-contacts-email {
        width: 168px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f7b374;
        text-decoration: none;
        color: #fff;
    }

    .header-wrapper {
        display: grid;
        padding: 0;
        justify-content: stretch;
        grid-template-rows: 1fr 1fr;
    }

    .header-wrapper h1 {
        font-size: 60px;
        padding: 20px 0 10px 0;
    }

    .header-wrapper h1 span {
        margin:0 auto;
        width: 1170px;
    }

    .header-wrapper h1 br {
        display: none;
    }

    .header-text-wrapper {
        margin:0 auto;
        width: 1170px;
        padding: 17px 0 24px 0;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 202.73fr 443fr;
    }

    .header-text-wrapper h5 {
        font-size: 20px;
        width: 260px;
    }

    .header-text-wrapper p {
        font-size: 16px;
        width: 565.71px;
    }

    main section {
        padding: 150px 0;
    }

    main section .section-content {
        margin:0 auto;
        width: 1170px;
    }

    main section h3 {
        width: 770px;
        font-size: 36px;
    }

    .section-item-container {
        margin-top: 60px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .section-item {
        height: 96.27px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0 24px 0 16px;
    }

    #services .section-item img {
        margin-right: 16px;
    }

    #places {
        padding: 130px 0 170px 0;
        background: linear-gradient(to right, #fff, #fff) no-repeat 504px 0, #fafafa;
    }

    #places .section-content {
        width:unset;
        margin-left: calc((100% - 1170px)/2);
        margin-right: 0;
    }

    #places .section-label,
    #places h3 {
        margin-left: 0;
    }

    .places-slider-container {
        position: relative;
        margin-top: 60px;
        padding-left: 0;
    }

    .places-slider .slider-item {
        width: 370.37px;
        height: 286.52px;
        margin-right: 30px;
    }

    .places-slider .slider-item img {
        object-fit: cover;
    }

    .places-slider .slider-item .slider-item-text {
        width: 100%;
        height: 48px;
        padding-left: 25.6px;
    }

    .places-slider-controls {
        margin: 0;
        position: absolute;
        top: 120px;
        left: -90px;
    }

    .places-slider-prev {
        background: url("img/Arrow-prev.svg") no-repeat center, #fafafa;
    }

    #how-works {
        padding: 150px 0;
    }

    #how-works .section-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #how-works .section-content  > div:first-child {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #how-works .section-item-container {
        flex-grow: 1;
        grid-template-columns: 1fr;
        justify-items: stretch;
        margin: 0 100px 0 0;
    }

    #how-works h3 {
        width: unset;
    }

    #how-works .section-item {
        width: 300px;
        height: 90px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 0 0 20px;
    }

    .howto-img {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .howto-img img {
        display: block;
        width: 100%;
        height: auto;
        object-position: 0 -10vw;
    }

    .about-text-wrapper {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-gap: 130px;
    }

    .about-text-wrapper h3 {
        width: unset;
    }

    .about-text-wrapper p {
        margin: 0;
        padding: 0;
    }

    .contact-us-btn {
        margin-top: 50px;
        width: 300px;
        background: #fff;
    }

    #partners {
        padding: 120px 0 170px 0;
    }

    .partners-slider1 .slider-item,
    .partners-slider2 .slider-item {
        margin-right: 60px;
    }

    .partners-slider1 .slider-item div,
    .partners-slider2 .slider-item div {
        justify-content: center;
    }

    .partners-slider1 .slider-item img,
    .partners-slider2 .slider-item img {
        min-width: 90px;
    }

    #contacts {
        padding: 100px 0;
    }

    #contacts .section-content {
        display: flex;
    }

    #contacts h3 {
        width: 674.84px;
    }

    #contacts .contacts-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #contacts .call-form {
        width: 380px;
    }

    #contacts .reference-wrapper {
        margin-bottom: 100px;
    }

    footer {
        height: 90px;
        padding: 0;
    }

    footer .section-content {
        margin:0 auto;
        width: 1170px;
        height:100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer p {
        padding: 4px 0;
    }
}