* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.display-none {
    display: none;
}

body {
    font-size: 4vh;
    min-width: 400px;
    max-width: 100vw;
}

body.no-scroll {
    overflow: hidden;
}

/*@media only screen and (max-width: 800px) {}*/
/*@media only screen and (max-width: 1200px) {}*/
/*max-width>1200*/

.header {
    position: relative;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4)), url(img/image43.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /*padding-bottom:17.5vw;*/
    /*box-sizing: border-box;*/
}

.home-wrapper {
    height: 18.75vw;
    padding: 0 9.4%;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    background: url(img/logo.png) no-repeat white center;
    background-size: 58.79% auto;
    width: 31.25vw;
    height: 0;
    padding-top: 31.25vw;
    box-sizing: border-box;
}

.wrapper-menu-icon {
    align-self: center;
    width: 7.5%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-icon {
    width: 100%;
    height: 0.4vw;
    background: #fff;
}

.menu {
    position: fixed;
    top: 0;
    left: 150vw;
    background: #030514;
    width: 100%;
    height: 100vh;
    transition: 0.4s;
    font-size: 0.7em;
}

.menu.show {
    left: 0;
}

.menu-list {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #fff;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.menu-list a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: white;
}

.menu-list li {
    border: 1px solid rgba(255, 255, 255, .1);
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.menu-list li > * {
    width: 100%;
    padding-right: 9.375%;
}

.menu-icon-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.menu-icon-close svg {
    width: 4.5vw;
    height: 4.5vw;
}

.menu-contacts {
    display: grid;
    grid-template-columns: 19fr 21fr;
    padding-right: 0 !important;
}

.menu-contacts-phone, .menu-contacts-email {
    font-size: 0.8em;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.menu-contacts-email {
    background: #fff;
    color: #000 !important;
}

.menu-contacts-link > div {
    align-self: stretch;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.hidden {
    display: none;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    /*font-size: 11.25vw;*/
    padding: 5vw 0;
    letter-spacing: -0.05em;
    margin: 0;
    height: 67vw;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    display: flex;
    align-items: flex-end;
}

.header-wrapper {
    color: white;
    padding: 0 9.375vw;
}

.header-text-wrapper {
    padding-top: 6.8vw;
}

.header-text-wrapper h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 0.67em;
    letter-spacing: -0.02em;
    width: 62vw;
    margin: 0 0 14vw 0;
}

.header-text-wrapper p {
    margin: 0;
    line-height: 150%;
    font-size: 0.58em;
    letter-spacing: -0.05em;
    /*width: 62vw;*/
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: rgba(255, 255, 255, .8);
}

.header-wrapper h2, h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    /*font-size: 36px;*/
    /*line-height: 150%;*/
    /* or 54px */
    /*letter-spacing: -0.05em;*/
}

.header-wrapper h3 {
    font-family: Montserrat, sans-serif;
}

.menu-item {
    margin: 0 0 3.1vw 0;
    color: rgba(3, 5, 20, .4);
    /*letter-spacing: -0.05em;*/
    font-family: Noto Sans, sans-serif;
    font-size: 0.65em;
    /*line-height: 150%;*/
}

.section-services { /*#e5e5e5*/
    background: white;
    padding: 15.6vw 9.375vw 0 9.375vw;
}

.section-services h3 {
    margin: 0;
    color: #030514;
    font-family: Montserrat, sans-serif;
    font-size: 1em;
    letter-spacing: -0.05em;
    line-height: 150%;
}

.wrapper-services {
    display: grid;
    grid-gap: 9.375vw;
    padding: 12.5vw 0;

}

.wrapper-services div {
    box-sizing: border-box;
    border-left: 1.875vw solid #f7b374;
    height: 48.75vw;
    width: 81.25vw;
    box-shadow: 0 0 10vw rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 6.25vw;
    font-family: Noto Sans, sans-serif;
    line-height: 150%;
    font-size: 0.6em;
}

.wrapper-services div img {
    width: 20vw;
    height: 20vw;
}

#places {
    /*height: 223vw;*/
    background: linear-gradient(to right, #fafafa, #fafafa) no-repeat -64vw 0;
    padding: 15.6vw 0 0 11vw;
    box-sizing: border-box;
}

#places h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #030514;
    padding-right: 9.375vw;
    margin: 3.125vw 0 13vw 0;
}

.places-slider-container {
    width: 100%;
    height: 89.5vw;
    box-sizing: border-box;
}

.places-slider {
    height: 100%;
}

.places-slider .slider-item {
    height: 100%;
    /*background: orange;*/
    padding-right: 4.5vw;
}
.places-slider .slider-item .slider-item-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 83fr 17fr;
    justify-content: stretch;
    align-items: stretch;
}

.places-slider .slider-item img {
    width: 100%;
    margin: 0;
}

.places-slider .slider-item .slider-item-text {
    background: black;
    font-family: Poppins, sans-serif;
    font-size: 0.6em;
    color: #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 7.8vw;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.carousel-control-container {
    margin-top: 10vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 9.375vw;
}

.carousel-control-prev {
    width: 18.75vw;
    height: 18.75vw;
    background: url("img/Arrow-prev.png") no-repeat center, white;
    background-size: 30%;
}

.carousel-control-next {
    width: 18.75vw;
    height: 18.75vw;
    background: url("img/Arrow-next.png") no-repeat center, black;
    background-size: 30%;
}

.places-slider-container .tns-outer,
.tns-ovh,
.tns-ovh.tns-ah,
.tns-inner {
    height:100% !important;
}

#how-works {
    /*height: 223vw;*/
    padding: 15.6vw 9.375vw 0 11vw;
}

#how-works h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 150%;
    letter-spacing: -0.05em;
    color: #030514;
    margin: 3.125vw 0 0 0;
}

.steps-container {
    display: grid;
    grid-gap: 9.375vw;
    padding: 12.5vw 0;
}

.steps-container div {
    box-sizing: border-box;
    border-left: 1.875vw solid #f7b374;
    height: 28.125vw;
    width: 100%;
    box-shadow: 0 0 10vw rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6.25vw;
    font-family: Noto Sans, sans-serif;
    line-height: 150%;
    font-size: 0.6em;
}
.steps-container div p:first-of-type {
    margin: 0;
    color: rgba(3, 5, 20, .4);
    font-size: 0.9em;
    font-family: Noto Sans, sans-serif;
    line-height: 150%;
}

.steps-container div p:last-of-type {
    margin: 0;
    font-size: 1.1em;
    font-family: Noto Sans,sans-serif;
    line-height: 150%;
}

.howto-img {
    width: 100%;
    /*height: 93.75vw;*/
}

#about {
    margin-top: -1vh;
    /*height: 219vw;*/
    background: #030514;
    color: #fff;
    box-sizing: border-box;
    padding: 26.25vw 9.375vw 15vw 9.375vw;
}

#about h2 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: -0.05em;
    font-size: 0.9em;
    margin-bottom: 9.375vw;
}

#about p{
    font-family: Noto Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.58em;
    line-height: 150%;
    color: rgba(255,255,255,0.6);
    margin-bottom: 12.5vw;
}

.contact-us-btn {
    width: 81.15vw;
    height: 18.75vw;
    background: #fff;
    font-family: Montserra,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.7em;
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.05em;
    color: #030514;
}

#partners {
    /*height: 137vw;*/
    padding: 15.6vw 9.375vw 0 0;
    box-sizing: border-box;
}

#partners > p {
    margin-left: 11vw;
}

.partners-carousel-control-container {
     margin-top: 10vw;
     display: flex;
     justify-content: flex-start;
     padding-right: 9.375vw;
 }

.partners-carousel-control-prev1 {
    width: 18.75vw;
    height: 18.75vw;
    background: url("img/Arrow-prev.png") no-repeat center, white;
    background-size: 30%;
}

.partners-carousel-control-next2 {
    width: 18.75vw;
    height: 18.75vw;
    background: url("img/Arrow-next.png") no-repeat center, black;
    background-size: 30%;
}

.partners-slider-container{
    margin-top: 22vw;
    padding: 0 9.357vw;
    height: 50vw;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.partners-slider1,
.partners-slider2 {
    height: 100%;
}

.partners-slider1 .slider-item,
.partners-slider2 .slider-item {
    height: 100%;
}

.partners-slider1 .slider-item .slider-item-wrapper,
.partners-slider2 .slider-item .slider-item-wrapper {
    height: 100%;
    padding-left: 2vw;
    display: flex;
}

.partners-slider1 .slider-item .slider-item-wrapper img,
.partners-slider2 .slider-item .slider-item-wrapper img {
    object-fit: contain;
    height: 70%;
}

.partners-slider-container .tns-outer {
    height: 40% !important;
}

#contacts {
    /*height: 315vw;*/
    padding: 15.6vw 9.375vw;
    background: linear-gradient(to right, #fafafa, #fafafa) no-repeat 18vw 90vw;
    box-sizing: border-box;
}

#contacts h4 {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: -0.05em;
}

#contacts .contacts-wrapper {
    font-family: Noto Sans, sans-serif;
    padding-top: 9.375vw;
}

#contacts .call-text {
    font-size: 0.5em;
}

#contacts .call-form {
    display: grid;
    grid-template-columns: 11fr 7fr;
    width: 82vw;
    height: 15vw;
    margin-top: 6vw;
    box-sizing: border-box;
    font-family: Noto Sans,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5em;
}

#contacts .call-form input {
    color: rgba(3, 5, 20, .4);
    font-size: 1em;
    padding-left: 6vw;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#contacts .call-form .call-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #030514;
}

#contacts .reference-wrapper {
    font-family: Noto Sans, sans-serif;
}

#contacts .reference-telegram {
    font-size: 0.5em;
    padding-top: 9.375vw;
}

#contacts .reference-wrapper a {
    font-size: 0.65em;
}

.contact-form {
    margin-top: 15.6vw;
    display: grid;
    grid-gap: 6.25vw;
    grid-template-rows: 60fr 60fr 262fr 60fr;
    width: 82vw;
    height: 157vw;
    font-size: 0.65em;
}

.contact-form textarea {
    font-family: Noto Sans, sans-serif;
    box-shadow: 0 0 10vw rgba(0, 0, 0, .05);
    color: rgba(3, 5, 20, .4);
    font-weight: 600;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 6vw;
    box-sizing: border-box;
}

.contact-form input {
    font-family: Noto Sans, sans-serif;
    box-shadow: 0 0 10vw rgba(0, 0, 0, .05);
    color: rgba(3, 5, 20, .4);
    font-weight: 600;
    border: none;
    box-sizing: border-box;
    padding-left: 6vw;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1em;
}

.contact-form .contact-btn {
    font-family: Noto Sans, sans-serif;
    box-shadow: 0 0 10vw rgba(0, 0, 0, .05);
    resize: none;
    color: #fff;
    background: #030514;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 40vw;
    background: #030514;
    color: #fff;
    font-size: 0.6em;
    font-family: Noto Sans, sans-serif;
    padding: 7vw 9vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    line-height: 200%;
}